<nav
    class="bg-wash-me top-0 right-0 left-0 z-[1030] lg:flex-wrap lg:justify-start flex-wrap items-center py-2 px-4">
    <div class="container mx-auto sm:px-4 flex flex-wrap-in items-center justify-between relative">
        <a routerLink="/" class="pt-1 mr-4 text-lg whitespace-normal inline-flex items-center">
            <img class="inline-block" src="./assets/img/logo.png" alt="Logo MiMi drink and food">
            <span class="text-grey-900 text-2xl font-bold ms-2 text-gradient">MiMi</span>
        </a>
        <button
            class="lg:hidden py-1 px-3 text-md leading-none bg-transparent border border-transparent rounded cursor-pointer text-xl">
            <span
                class="px-5 py-1 border border-gray-600 rounded navbar-toggle-icon inline-block w-1-5em h-1-5em align-middle bg-no-repeat bg-center bg-contain">
            </span>
        </button>
        <div class="lg:flex lg:basis-auto lg:mt-0 lg:border-0 flex-grow items-center border-t my-2 hidden">
            <div class="mx-auto pt-5 lg:pt-0 block lg:hidden xl:block">
                <p class="mb-0 font-bold lg:text-center text-gray">Deliver to: <i
                        class="fas fa-map-marker-alt text-lemon-whisper mx-2"></i><span class="font-normal">Current
                        Location
                    </span><span>Mirpur 1 Bus Stand, Dhaka</span></p>
            </div>
            <form class="flex mt-4 lg:mt-0 lg:ms-auto xl:ms-0">
                <div class="relative pe-2">
                    <i class="fas fa-search text-lemon-whisper absolute top-[50%] left-4 -translate-y-1/2"></i>
                    <input class="pl-11 align-middle bg-100 border-0 block w-[100%] py-2 px-9 text-base font-normal leading-6
                        text-black-panther bg-clip-padding appearance-none rounded-lg transition-1
                        -outline-offset-2 focus:border-[3px] focus:border-solid focus:border-[#FFB30E]" type="search" placeholder="Search Food" aria-label="Search" />
                </div>
                <button class="cursor-pointer shadow-[0_0_3rem_0_rgba(255,179,14,0.3)] text-lemon-whisper inline-block
                        font-bold leading-6 text-center align-middle select-none bg-transparent border border-transparent
                        px-9 py-2 text-[1rem] rounded-[0.2rem] appearance-[button] normal-case m-0"> <i
                        class="fas fa-user me-2"></i>Login</button>
            </form>
        </div>
    </div>
</nav>
